<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-list>
      <ion-list-header>
        <h5>Items</h5>
      </ion-list-header>

      <ion-item-sliding *ngFor="let item of items; let i = index">
        <ion-item>
          <h6>{{item.name}}</h6>
          <h6 style="padding-left: 5px;">{{item.quantity}}</h6>
        </ion-item>
        <ion-item-options side="end">
          <ion-button (click)="removeItem(item, i)" ion-button color="primary">
            <ion-icon name="trash-outline"></ion-icon>
            Done
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ion-app>